body {
    background-image: linear-gradient(#FF1493, #FF69B4, #FFB6C1, #FFC0CB, #FFE4E1);
  }
  
  #shadow {
    width: 600px;
    height: fit-content;
    padding: 25px;
    background-color: rgba(238, 150, 179, 0.89);
    box-shadow: 15px 15px MistyRose;
    border-radius: 10px;
  
  }
  
  #div2 {
    width: 550px;
    height: fit-content;
    padding: 15px;
    background-color: MistyRose;
    border-radius: 50px;
  
  }
  
  #login {
    font-family: Courier New;
  }
  
  #name {
    border-radius: 30px;
    font-size: 20px;
    width: 400px;
    background-color: lightgray;
    border-color: #FFB6C1;
  }
  
  #hr {
    background-color: #FFC0CB;
    height: 3px;
  
  }
  
  #Password {
    border-radius: 30px;
    font-size: 20px;
    width: 400px;
    background-color: lightgray;
    border-color: #FFB6C1;
  }
  
  
  
  
  #pro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    letter-spacing: 4;
  }
  
  .btn {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: deeppink;
    color: white;
  }
  
  
  .header img {
    width: 100px;
    margin-left: -15px;
  }